html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #chat {
    margin: auto;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
  }
   */
.yvebot-chat {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 400px;
  border-radius: 20px;
  background-color: antiquewhite;
}
.yvebot-chat:before {
  content: "";
  box-shadow: inset 0 20px 20px -20px #685c79;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 20px;
  border-radius: 20px;
}
.yvebot-conversation {
  height: 50vh;
  min-height: 230px;
  list-style: none;
  overflow-y: auto;
  padding: 15px;
}
.yvebot-message-bubbles {
  text-align: right;
}
.yvebot-message-bubbleBtn {
  font-family: Roboto, sans-serif;
  border: 0;
  padding: 10px 15px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  display: inline-block;
  background-color: #eee;
  outline: none;
}
.yvebot-message-bubbleBtn.selected,
.yvebot-message-bubbleBtn.selected:focus {
  background-color: #423752;
  color: #eee;
}
.yvebot-message-bubbleBtn.selected:hover {
  background-color: #4b3e5d;
}
.yvebot-message-bubbleBtn:hover {
  background-color: #fff;
}
.yvebot-message-bubbleDone {
  font-family: Roboto, sans-serif;
  border: 0;
  background-color: transparent;
  color: #ffbc67;
  cursor: pointer;
  font-size: 0.9rem;
  float: right;
  margin-top: 10px;
}
.yvebot-message-bubbleDone:hover {
  text-decoration: underline;
}
.yvebot-thread {
  padding-bottom: 15px;
  position: relative;
}
.yvebot-thread:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
}
.yvebot-sender {
  font-weight: 700;
}
.yvebot-bubble {
  border-radius: 15px;
  padding: 8px 15px;
  line-height: 24px;
  font-size: 1rem;
  background-color: #685c79;
  font-family: Roboto, sans-serif;
  word-wrap: break-word;
}
.yvebot-thread-bot {
  padding-left: 55px;
  padding-right: 20px;
}
.yvebot-thread-bot:before {
  content: "🤖";
  font-size: 1.5rem;
  background-size: contain;
  text-align: center;
  line-height: 50px;
  left: 0;
  background-color: #ac6c82;
}
.yvebot-thread-bot .yvebot-bubble {
  background-color: #ffbc67;
  color: #333;
}
.yvebot-thread-user {
  padding-right: 55px;
  padding-left: 20px;
}
.yvebot-thread-user:before {
  right: 0;
  font-size: 1.5rem;
  line-height: 50px;
  background-color: #4b3e5d;
  content: "👤";
  text-align: center;
}
.yvebot-thread-user .yvebot-bubble {
  background-color: #4b3e5d;
  color: #fff;
}
.yvebot-form {
  position: relative;
}
.yvebot-form-input {
  font-family: Roboto, sans-serif;
  border: 2px solid #685c79;
  border-radius: 10px;
  padding: 15px 65px 15px 15px;
  font-size: 1rem;
  display: block;
  width: 100%;
  min-height: 53px;
  resize: none;
  color: #333;
}
.yvebot-form-input:focus {
  outline: none;
  border-color: #ac6c82;
  box-shadow: 0 0 10px #ac6c82;
}
.yvebot-form-input:disabled {
  opacity: 0.4;
}
.yvebot-form-submit {
  font-family: Roboto, sans-serif;
  position: absolute;
  right: 10px;
  top: 17px;
  background: transparent;
  color: #685c79;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
}
.yvebot-form-submit:disabled {
  cursor: default;
}
.yvebot-thread-typing {
  display: none;
}
.yvebot-thread-typing.is-typing {
  display: block;
}
.yvebot-typing-dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: #ac6c82;
  -webkit-animation: wave 1.3s linear infinite;
  animation: wave 1.3s linear infinite;
  margin-top: 15px;
  margin-right: 5px;
}
.yvebot-typing-dot:nth-child(2) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.yvebot-typing-dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
